* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-container {
    width: 350px;
    background: white;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.todo-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#todoInput {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#addBtn {
    padding: 10px 15px;
    background: #4caf50;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

#addBtn:hover {
    opacity: 0.8;
}

#todoList {
    list-style: none;
}

#todoList li {
    background: #fafafa;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    align-items: center;
}

#todoList li span {
    font-size: 16px;
}

.delete-btn {
    background: #e53935;
    padding: 6px 10px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.delete-btn:hover {
    opacity: 0.8;
}
